{% extends "new.html" %}

{% include "snippetMacros.html" %}

{% block class %}{{ editClass }}{% endblock %}

{% block label %}Edit {{ instanceLabel }}{% endblock %}

{% block topButtons %}
{{ snippetEditButtons() }}
{% endblock %}

{% block slug %}
  {# True, snippet pages aren't used often, but almost everything derived #}
  {# from snippets displays a slug in a URL at some point, so the default #}
  {# template should feature this field. It can be hidden by CSS for the #}
  {# true snippets but must be present, otherwise javascript will be unhappy #}
  {{ snippetText('slug', 'Slug') }}
{% endblock %}

{% block buttons %}
{{ snippetEditButtons() }}
{% endblock %}

