{% extends "new.html" %}

{% include "snippetMacros.html" %}

{% block class %}apos-edit-snippet{% endblock %}

{% block label %}Edit Snippet{% endblock %}

{% block topButtons %}
{{ snippetEditButtons() }}
{% endblock %}

{% block slug %}
  {# Snippet permalink pages are rarely used directly, so we don't #}
  {# usually allow snippet slugs to be edited. Just provide a hidden #}
  {# field so the JS that syncs slug edits can work... #}
  <input type="hidden" name="slug" />

  {# But for most modules extending this module you'd want an editable slug, like this #}
  {# {{ snippetText('slug', 'Slug') }} #}
{% endblock %}

{% block buttons %}
{{ snippetEditButtons() }}
{% endblock %}

