{% macro feedThumbnail(item) %}
  {% if options.thumbnail %}
    {% if aposAreaImage(item, 'thumbnail') %}
      {# Most but not all feed readers will ignore the float, but it's nice to try. #}
      <img style="display: block; float: left; padding: 10px" src="{{ aposFilePath(aposAreaImage(item, 'thumbnail'), { size: 'one-sixth' }) }}" />
    {% elif options.alternateThumbnail and aposAreaImage(item, 'body') %}
      {# Most but not all feed readers will ignore the float, but it's nice to try. #}
      <img style="display: block; float: left; padding: 10px" src="{{ aposFilePath(aposAreaImage(item, 'body'), { size: 'one-sixth' }) }}" />
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro feedBody(item) %}
  {% if options.summary %}
    {{ aposAreaPlaintext({ area: item.body, truncate: options.characters }) | e }}
  {% else %}
    {# This helper is good for bypassing all the outer wrapper markup of an area which is #}
    {# unsuitable for RSS feeds #}
    {# Ignore all widgets, simple HTML text only #}
    {{ aposAreaContent(item.body.items or [], { allowed: [ 'richText' ] }) }}
  {% endif %}
{% endmacro %}
