{% include 'snippetMacros.html' %}
<div class="apos-modal apos-template apos-manage-snippet">
  <h3>{% block action %}Manage Snippets{% endblock %}</h3>
  <div class="apos-modal-body">
    <div class="apos-modal-filters">
      {{ snippetFilters() }}
    </div>
    <ul data-items>
      <li class="apos-template" data-item><a href="#" data-edit-snippet data-title></a></li>
    </ul>
  </div>
  <div class="apos-modal-footer">
    <a href="#" data-action="dismiss" class="apos-control apos-button apos-cancel">Done</a>
  </div>
</div>
