{% if edit %}

<ul class="apos-admin-bar-item apos-accordion-menu">
  <li class="apos-accordion-title"><i class="icon-doc"></i>Snippets</li>
  <li class="apos-accordion-items">
    <ul class="apos-page-bar">
      <li href="#" class="apos-control apos-accordion-item apos-button apos-new-button apos-new-snippet-button" data-new-snippet>New Snippet</li>
      <li href="#" class="apos-control apos-accordion-item apos-button apos-manage-button apos-manage-snippet-button" data-manage-snippet>Manage Snippets</li>
      <li href="#" class="apos-control apos-accordion-item apos-button apos-manage-button apos-manage-snippet-button" data-import-snippet>Import Snippets</li>
    </ul>
  </li>
</ul>
{% endif %}
