{% include 'snippetMacros.html' %}
<div class="apos-modal apos-template {% block class %}apos-new-snippet{% endblock %}">
  <h3>{% block label %}New Snippet{% endblock %}</h3>
  {% block topButtons %}
  {# Makes more sense in edit view #}
  {# {{ snippetNewButtons() }} #}
  {% endblock %}
  <div class="apos-modal-body">
    <form>
      {{ snippetText('title', 'Title') }}
      {{ snippetBoolean('hideTitle', 'Hide Title') }}
      {# Slugs become editable later, allow the edit template to add them here #}
      {% block slug %}{% endblock %}
      {{ snippetTags('tags', 'Tags (comma-separated)') }}
      {# It's rare to unpublish a snippet, but it's used heavily for derivatives like articles #}
      {{ snippetBoolean('published', 'Published') }}
      {# The real work for these is in main.js, just get placeholders into the form #}
      {{ snippetArea('body', 'Body') }}
    </form>
  </div>
  {% block buttons %}
  {{ snippetNewButtons() }}
  {% endblock %}
</div>
