{# this should be depracated w the new modal system --stuart #}
{% include 'snippetMacros.html' %}
<div class="apos-modal apos-template apos-ui {% block class %}{{ newClass }}{% endblock %}">
  <h3 class="apos-modal-title">{% block label %}{{ __('New %s', __(instanceLabel) | e ) }}{% endblock %}</h3>
  {% block buttons %}
    {{ snippetNewControls() }}
  {% endblock %}

  {% block topButtons %}
  {# Makes more sense in edit view #}
  {# {{ snippetNewControls() }} #}
  {% endblock %}
  <div class="apos-modal-body">
    <form>
      {% block insideForm %}
        {{ snippetAllFields(fields) }}
      {% endblock %}
    </form>
  </div>
</div>
