{% include 'formMacros.html' %}
{% include 'pagerMacros.html' %}

{% macro renderSnippets(items, pageUrl) %}
  {% if items %}
    {% for item in items %}
      {{ renderSnippet(item, pageUrl) }}
    {% endfor %}
  {% else %}
    <h4>There are no snippets yet.</h4>
  {% endif %}
{% endmacro %}

{% macro renderSnippet(item, pageUrl) %}
  <div class="apos-snippet">
    {% if not item.hideTitle %}
      <h4>
        {% if item.url %}
          <a href="{{ item.url }}">
        {% endif %}
        {{ item.title | e }}
        {% if item.url %}
          </a>
        {% endif %}
      </h4>
    {% endif %}
    {{ aposArea(item, 'body') }}
  </div>
{% endmacro %}

{% macro snippetText(name, label, options = {}) %}
  {{ formText(name, label, options) }}
{% endmacro %}

{% macro snippetEmail(name, label) %}
  {{ formEmail(name, label) }}
{% endmacro %}

{% macro snippetPassword(name, label) %}
  {{ formPassword(name, label) }}
{% endmacro %}

{# Less ambiguous to work with than a checkbox #}
{% macro snippetBoolean(name, label) %}
  {{ formBoolean(name, label) }}
{% endmacro %}

{% macro snippetTags(name, label) %}
  {{ formTags(name, label) }}
{% endmacro %}

{% macro snippetTextarea(name, label) %}
  {{ formTextarea(name, label) }}
{% endmacro %}

{% macro snippetSelect(name, label, choices) %}
{{ formSelect(name, label, choices) }}
  </fieldset>
{% endmacro %}

{% macro snippetDate(name, label) %}
{{ formDate(name, label) }}
{% endmacro %}

{% macro snippetTime(name, label) %}
{{ formTime(name, label) }}
{% endmacro %}

{# See enableArea in snippets' main.js for the necessary plumbing, including #}
{# specifying the type we want for the singleton #}
{% macro snippetSingleton(name, label) %}
  {{ formSingleton(name, label) }}
{% endmacro %}

{# See enableArea in snippets' main.js for the necessary plumbing #}
{% macro snippetArea(name, label) %}
  {{ formArea(name, label) }}
{% endmacro %}


{# A pill button with several mutually exclusive choices #}
{% macro snippetPill(name, label, options) %}
  {{ formPill(name, label, options) }}
{% endmacro %}

{# Just the pill button group itself, no fieldset #}
{% macro snippetPillStandalone(name, options) %}
  {{ formPillStandalone(name, options) }}
{% endmacro %}

{# These promote a consistent interface in the various "manage" dialogs for types #}

{% macro snippetNewControls() %}
  <div class="apos-modal-controls">
    <a href="#" data-save data-next class="apos-button apos-edit-modal apos-button-red">{{ __('Add Next') }}</a>
    <a href="#" data-save class="apos-button apos-edit-modal apos-button-red">{{ __('Add') }}</a>
    <a href="#" data-cancel class="apos-button apos-edit-modal apos-button-white apos-button-arrow-left">{{ __('Cancel') }}</a>
  </div>
{% endmacro %}

{% macro snippetEditControls() %}
  <div class="apos-modal-controls"> 
    <a href="#" data-save class="apos-button apos-edit-modal apos-button-red">{{ __('Save') }}</a>
    <a href="#" data-copy data-action="copy" class="apos-button apos-edit-modal apos-button-red apos-copy">{{ __('Copy') }} </a>
    <a href="#" data-versions data-action="versions" class="apos-button apos-edit-modal apos-button-red apos-versions">{{ __('Versions') }}</a>
    <a href="#" data-delete data-action="delete" class="apos-button apos-edit-modal apos-button-red apos-trash"><i class="icon-trash"></i></a>
    <a href="#" data-cancel class="apos-button apos-edit-modal apos-button-white apos-button-arrow-left apos-cancel">{{ __('Cancel') }}</a>

  </div>
{% endmacro %}

{# See $.selective in content.js for the necessary plumbing #}
{% macro snippetSelective(name, label, options) %}
  {{ formSelective(name, label, options) }}
{% endmacro %}

{% macro snippetTrashFilter() %}
  {{ snippetPillStandalone('trash',
      [
        {
          value: '0',
          label: __('Live')
        },
        {
          value: '1',
          label: __('Trash')
        }
      ]
    )
  }}
{% endmacro %}

{% macro snippetPublishedFilter() %}
  {{
    snippetPillStandalone('published',
      [
        {
          value: '1',
          label: __('Published')
        },
        {
          value: '0',
          label: __('Draft')
        },
        {
          value: 'any',
          label: __('Both')
        }
      ]
    )
  }}
{% endmacro %}

{% macro snippetSearchFilter() %}
  {# In user testing we found that leaving out the submit button isn't great. #}
  {# So if you remove it, make sure some other clickable thing is visible. -Tom #}
  {{ __('Search') }}: <input type="text" name="search" /> <input type="submit" data-search-submit class="apos-search-submit" value="{{ __('Go') }}" /> <a href="#" class="apos-remove-search" data-remove-search>x</a>
{% endmacro %}

{# Standard filters suitable for all snippet derivatives. Does not include date filter. #}
{# You can call the filters separately to change the order or skip or add things. #}

{% macro snippetFilters() %}
  {{ snippetTrashFilter() }}
  {{ snippetPublishedFilter() }}
  {{ snippetSearchFilter() }}
{% endmacro %}

{# Events and related subclasses of snippets use this one. #}

{% macro snippetDateFilter() %}
  {{
    snippetPillStandalone('date',
      [
        {
          value: 'past',
          label: __('Past')
        },
        {
          value: 'future',
          label: __('Future')
        },
        {
          value: 'all',
          label: __('All')
        }
      ]
    )
  }}
{% endmacro %}

{% include "schemas:schemaMacros.html" %}

{% macro snippetAllFields(fields, options = { from: false, to: false, except: [], only: false }) %}
  {{ schemaFields(fields, options) }}
{% endmacro %}

