{% macro renderSnippets(items, pageUrl) %}
  {% if items %}
    {% for item in items %}
      {{ renderSnippet(item, pageUrl) }}
    {% endfor %}
  {% else %}
    <h4>There are no snippets yet.</h4>
  {% endif %}
{% endmacro %}

{% macro renderSnippet(item, pageUrl) %}
  <div class="apos-snippet">
    <div class="apos-snippet-heading">
      <h4><a href="{{ pageUrl }}/{{ item.slug }}">{{ item.title | e }}</a></h4>
    </div>
    <div class="apos-snippet-body">{{ aposArea({ area: item.areas.body }) }}</div>
  </div>
{% endmacro %}

{# Standard form markup, for convenience and consistency #}

{% macro snippetText(name, label) %}
  <fieldset class="apos-fieldset apos-fieldset-text">
    <label>{{ label | e }}</label>
    <input name="{{ name | e }}" type="text">
  </fieldset>
{% endmacro %}

{% macro snippetTextarea(name, label) %}
  <fieldset class="apos-fieldset apos-fieldset-editor">
    <label>{{ label | e }}</label>
    <textarea name="{{ name | e }}" rows="4"></textarea>
  </fieldset>
{% endmacro %}

{% macro snippetSelect(name, label, choices) %}
  <fieldset class="apos-fieldset apos-fieldset-select">
    <label>{{ label | e }}</label>
    <select name="{{ name | e }}">
      {% for choice in choices %}
        <option value="{{ choice.name | e }}">{{ choice.label | e }}</option>
      {% endfor %}
    </select>
  </fieldset>
{% endmacro %}

{# See enableArea in snippets' main.js for the necessary plumbing, including #}
{# specifying the type we want for the singleton #}
{% macro snippetSingleton(name, label) %}
  <fieldset class="apos-fieldset apos-fieldset-singleton">
    <label>{{ name }}</label>
    {# js adds this singleton to the dialog #}
    <div data-{{ name }}-edit-view></div>
  </fieldset>
{% endmacro %}

{# See enableArea in snippets' main.js for the necessary plumbing #}
{% macro snippetArea(name, label) %}
  <fieldset class="apos-fieldset apos-fieldset-editor">
    <label>{{ label | e }}</label>
    {# js adds this area to the dialog #}
    <div data-{{ name }}-edit-view></div>
  </fieldset>
{% endmacro %}

{# These promote a consistent interface in the various "manage" dialogs for types #}

{% macro snippetNewButtons() %}
  <div class="apos-modal-footer">
    <a href="#" data-action="save" data-next class="apos-control apos-button apos-save apos-add-next">Add Next</a>
    <a href="#" data-action="save" class="apos-control apos-button apos-save">Add</a>
    <a href="#" data-action="dismiss" class="apos-control apos-button apos-cancel">Cancel</a>
  </div>
{% endmacro %}

{% macro snippetEditButtons() %}
  <div class="apos-modal-footer">
    <a href="#" data-action="save" class="apos-control apos-button apos-save">Save</a>
    <a href="#" data-action="delete" class="apos-control apos-button apos-delete">Move to Trash</a>
    <a href="#" data-action="versions" class="apos-control apos-button apos-versions">Versions</a>
    <a href="#" data-action="dismiss" class="apos-control apos-button apos-cancel">Cancel</a>
  </div>
{% endmacro %}

{# A pill button with several mutually exclusive choices #}
{% macro snippetPill(name, options) %}
  <span class="apos-pill" data-pill data-name="{{ name }}">
    {%- for pill in options -%}
      <a class="apos-pill-choice {% if loop.first %}apos-first{% endif %}{% if loop.last %}apos-last{% endif %}" href="#" data-choice="{{ pill.value }}">{{ pill.label }}</a>
    {%- endfor -%}
  </span>
{% endmacro %}

{# Standard filters suitable for all snippet derivatives #}

{% macro snippetFilters() %}
  {{
    snippetPill('trash',
      [
        {
          value: '0',
          label: 'Live'
        },
        {
          value: '1',
          label: 'Trash'
        }
      ]
    )
  }}
  {{
    snippetPill('published',
      [
        {
          value: '1',
          label: 'Published'
        },
        {
          value: '0',
          label: 'Draft'
        },
        {
          value: 'any',
          label: 'Both'
        }
      ]
    )
  }}
  Search: <input type="text" name="search" /> <a href="#" class="apos-remove-search" data-remove-search>x</a>
{% endmacro %}
