{% extends "baseWidgetEditor.html" %}
{% include "formMacros.html" %}
{% block widgetVars %}
  {% set widgetClass = widgetEditorClass + ' apos-no-tabs' %}
{% endblock %}

{% block title %}
  {{ __('Display %s', pluralLabel ) }}
{% endblock %}

{% block instructions %}
{{ __('Start typing the title of a %s, then click on the suggestions that appear to insert them.
Or just use tags to pull in %s.', instanceLabel | lower, pluralLabel | lower ) }}
{% endblock %}

{% block formBody %}

<fieldset class="apos-fieldset apos-fieldset-radio">
  <label>{{ __('By Tag') }}</label>
  <input type="radio" name="by" value="tag" />
</fieldset>

{{ formTags('tags', 'Tags') }}
{{ formText('limit', pluralLabel + ' Shown') }}

<fieldset class="apos-fieldset apos-fieldset-radio">
  <label>By {{ __(titleLabel) }}</label>
  <input type="radio" name="by" value="id" />
</fieldset>

{{ formSelective('ids', titleLabel) }}

{% endblock %}
